<app-navbar [titulo]="'Buscador de Noticias'"> </app-navbar>
 <div class="container">
  <app-formulario (parametrosSelecionados)="buscarNoticias($event)"></app-formulario>
<app-spinner *ngIf="loading"></app-spinner>
  <!--[listNoticias]  se corresponde a listado-noticias.component.ts.@Input() listNoticias:any;--> 
  <app-listado-noticias [listNoticias]="listNoticias"></app-listado-noticias>      
  <!--listNoticias  se corresponde a la variable del componente padre app.component.ts.listNoticias:any[]=[]; -->
   
 </div>